{% extends 'base.html' %}

{% load static %}

{% block title %}Configuración|{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/reparaciones.css' %}">
{% endblock %}
{% block content %}
    {% include "partials/navbarusu.html" %}
    <br>
    <form class="input">
        <br>
        <div>
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <br>
        <div>
            <label for="currentPassword">Contraseña Actual:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
        </div>
        
        <br>
        <div>
            <label for="newPassword">Contraseña Nueva:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        
        <br>
        <br>
        <div>
            <label for="confirmPassword">Confirmar Contraseña Nueva:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        
        <br>
        <a type="button" class="btn btn-secondary" href="{% url 'pagina_principal_usuario' %}">Volver</a>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}
