{% extends "base.html" %}

{% load static %}

{% block title %} Iniciar Sesión {% endblock %}


{% block content %}

{% load crispy_forms_tags %}
<div class="login-container">
  <div class="logo">
    <img src="{% static 'img/logo.jpg' %}" alt="Logo de EVERLINK">
  </div>
  <div class="form-container" >
    {% block css %}
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}
      <h1>Bienvenido a EVERLINK</h1>
      <form action="." method="POST" novalidate>
    {% csrf_token %}
    <div class="card-footer">
        <div class="card-body">
            <h5 class="card-title">Ingrese sus credenciales</h5>
            {{ form }}
        </div>
        <div >
            <button class="btn btn-primary float-end" type="submit">Iniciar Sesión</button>
        </div>
    </div>
  </form>

{% endblock %}
