{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/reparaciones.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}
    <br>
    <form class="input">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text"  id="nombre" name="nombre" required>
            <button type="button" class="btn btn-primary" onclick="agregarCampo('nombre')">Agregar Nombre</button>
        </div>
        <br>
        <div >
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
            <button type="button" class="btn btn-primary" onclick="agregarCampo('apellido')"> Agregar Apellido</button>
        </div>
        <br>
        <div >
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" required>
            <button type="button" class="btn btn-primary" onclick="agregarCampo('telefono')"> Agregar Teléfono</button>
        </div>
        <br>
        <div >
            <label for="correo">Correo electronico:</label>
            <input type="email" id="correo" name="correo" required>
            <button type="button"class="btn btn-primary" onclick="agregarCampo('correo electronico')"> Agregar Correo</button>
        </div>
        <br>
        <button type="button" class="btn btn-success" onclick="guardarContacto()">Guardar</button>
        <a type="button" class="btn btn-secondary" href="{% url 'pagina_principal_tecnico' %}">Volver</a>

    </form>

{% endblock %}

{% block js %}
    <script src="{% static 'tecnicos/js/pagina_principal_tecnico.js' %}"></script>
{% endblock %}
