input, textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form {
  width: 800px; /* Puedes ajustar el ancho según sea necesario */
  padding: 30px;
  border-radius: 20px;
  margin: 50px auto;
  box-sizing: border-box;
  
}

form {
  width: 800px; /* Puedes ajustar el ancho según sea necesario */
  padding: 30px;
  border-radius: 20px;
  margin: 50px auto;
  
}
.input{
  text-align: center;
  font-size: x-large;
  color: black;
}
.botones{
  text-align: right;
}
strong{
  color: rgb(0, 0, 0);
  font-style: italic;
}
.texto{
  font-size: x-large;
}
.titulo{
  font-size: x-large;
}