.table-container {
    max-height: 400px; /* ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
}

.table-row {
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto visual al pasar el ratón */
}

.table-row:hover {
    background-color: #a11717; /* Cambia el color al pasar el ratón para indicar que es interactivo */
}

.content-full {
    display: none;
}

.table-row.expanded .content-preview {
    display: none;
}

.table-row.expanded .content-full {
    display: block;
}

  /* Otros estilos para la tabla, si es necesario */
table {
    width: 200%;
    border-collapse: collapse;
    /* Otros estilos de la tabla */
}
/* colores de la tabla*/
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: black;
    font-size:large;

}

.content-preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.input{
    text-align: center;
}
.botones{
    text-align: right;
}
strong{
    color: rgb(0, 0, 0);
    font-style: italic;
}


.form-row {
    margin-bottom: 20px;
}