{% extends 'base.html' %}

{% load static %}

{% block title %}Configuración|{% endblock %}
{% block content %}
    {% include "usuario/navbarusu.html" %}
    <form>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>

        <label for="currentPassword">Contraseña Actual:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>

        <label for="newPassword">Contraseña Nueva:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <label for="confirmPassword">Confirmar Contraseña Nueva:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="submit">Volver</button>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
