{% extends 'base.html' %}

{% load static %}

{% block title %}Página Principal Usuario{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'usuario/css/informe.css' %}">
{% endblock %}

{% block content %}
    {% include "usuario/navbarusu.html" %}
    <div class="report-container">
        <div class="card">
            <div class="report-title"></div>
            <img class="report-image" src="{% static 'img/pdf.jpeg' %}" alt="Informe 1">
            <button class="download-button">Descargar</button>
        </div>
        <div class="card">
            <div class="report-title"></div>
            <img class="report-image" src="{% static 'img/pdf.jpeg' %}" alt="Informe 2">
            <button class="download-button">Descargar</button>
        </div>
        
        <div class="card">
            <div class="report-title"></div>
            <img class="report-image" src="{% static 'img/pdf.jpeg' %}" alt="Informe 3">
            <button class="download-button">Descargar</button>
        </div>
{% endblock %}

{% block js %}
    <script src="{% static 'usuario/js/informeJ.js' %}"></script>
{% endblock %}