<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguimiento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/seguimientoC.css">
   <script src="Templates/seguimientoJ.js"></script>
</head>
<body>
    <div id="logo-button-container">

        <div class="logo" style="display: flex; align-items: center;">
            <img src="img/everlink.png" alt="Logo" style="max-width: 100px; max-height: 100px;">
        </div>
    </div>
    <div class="corner-buttons">
        <a class="corner-button" href="notificaciones.html">&#128276;</a>
        <a class="corner-button" href="mensajes.html">&#9993;</a>
        <a class="corner-button" href="perfil.html">&#128100;</a>
        <div class="btn-group">
            <button type="button" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &#9660;
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="perfil.html">Perfil</a>
                <a class="dropdown-item" href="configuracion.html">Configuracion</a>
                <a class="dropdown-item" href="">Cerrar sesion</a>
            </div>
            
        </div>
    </div>
    <nav>
        <a href="Practica.html">Pagina Principal</a>
        <a href="#seguimiento">Seguimiento</a>       
    </nav>
    <form action="#" method="post">
        <div>
            <label for="Ingresar">Ingresar el ID de seguimiento:</label>
            <input type="Ingresar" type="tex" name="Ingresar" >
        </div><br>
        <button type="submit">Volver</button>
        <button type="reset">Siguiente</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>