{% extends 'base.html' %}

{% load static %}

{% block title %}Página Principal Usuario{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'usuario/css/seguimiento.css' %}">
{% endblock %}

{% block content %}
    {% include "usuario/navbarusu.html" %}
    <form action="#" method="post">
        <div>
            <label for="Ingresar">Ingresar el ID de seguimiento:</label>
            <input type="Ingresar" type="tex" name="Ingresar" >
        </div><br>
        <button type="submit">Volver</button>
        <button type="reset">Siguiente</button>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'usuario/js/seguimientoJ.js' %}"></script>
{% endblock %}