{% extends 'base.html' %}

{% load static %}

{% block title %}Página Principal Usuario{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/usuario/seguimiento.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbarusu.html" %}
    <form action="#" method="post">
        <div>
            <label for="Ingresar">Ingresar el ID de seguimiento:</label>
            <input type="Ingresar" type="tex" name="Ingresar" >
        </div><br>
        <a type="button" class="btn btn-secondary" onclick="volver()" href="{% url 'pagina_principal_usuario' %}">Volver</a>
        <button type="reset">Siguiente</button>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'js/usuario/seguimientoJ.js' %}"></script>
{% endblock %}