{% extends 'base.html' %}

{% load static %}

{% block title %}Componentes{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/asignaciones.css' %}">
{% endblock %}
{% block content %}
    {% include "partials/navbar.html" %}
    <h2 style="font-weight: bold; font-size: 24px; margin-left: 20px;">Componentes</h2>
    </div>
    <div class="form">
        <input type="text" id="inputEliminar" placeholder="ID">
        <div >
            <a type="button" class="btn btn-success" href="{% url 'componentesN' %}">Agregar</a>

            <button class="btn btn-primary">Eliminar</button>
        </div>
    </div>
    <div class="botones">
        <a type="button" class="btn btn-secondary"  href="{% url 'pagina_principal_tecnico' %}">Volver</a>
        <button class="btn btn-secondary">Pedidos</button>
        <button class="btn btn-primary">Orden de Compra</button>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/tecnicos/componentesN.js' %}"></script>
{% endblock %}
<a href="{%url 'tecnicos/componentesN'%}"></a>