{% extends 'base.html' %}

{% load static %}

{% block title %}Componentes{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/reparaciones.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}
    <h6 class="titulo">Solicitudes Asignadas</h6>
    <table class="table">
        <thead>
          <tr>
            <th class="numero-solicitud">N.° de Solicitud</th>
            <th class="numero-solicitud">Usuario</th>
            <th class="numero-solicitud">Fecha</th>
            <th class="numero-solicitud">Descripción</th>
            <th class="numero-solicitud">Técnico</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí puedes agregar filas con datos específicos -->
          <tr>
            <td class="numero-solicitud">1</td>
            <td class="numero-solicitud">Usuario 1</td>
            <td class="numero-solicitud">2023-01-01</td>
            <td class="numero-solicitud">Problema de conexion </td>
            <td class="numero-solicitud">Técnico 1</td>
          </tr>
          <tr>
            <td class="numero-solicitud">2</td>
            <td class="numero-solicitud">Usuario 2</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Error de aplicacion</td>
            <td class="numero-solicitud">Técnico 2</td>
          </tr>
          <tr>
            <td class="numero-solicitud">3</td>
            <td class="numero-solicitud" >Usuario 3</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Perdida de datos</td>
            <td class="numero-solicitud">Técnico 3</td>
          </tr>
          <tr>
            <td class="numero-solicitud">4</td>
            <td class="numero-solicitud">Usuario 4</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Problema de conexion</td>
            <td class="numero-solicitud">Técnico 4</td>
          </tr>
          <tr>
            <td class="numero-solicitud">5</td>
            <td class="numero-solicitud">Usuario 5</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">No se puede iniciar sesion</td>
            <td class="numero-solicitud">Técnico 5</td>
          </tr>
          <tr>
            <td class="numero-solicitud">6</td>
            <td class="numero-solicitud">Usuario 6</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Fallo de red</td>
            <td class="numero-solicitud">Técnico 6</td>
          </tr>
          <tr>
            <td class="numero-solicitud">7</td>
            <td class="numero-solicitud">Usuario 7</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Software no responde</td>
            <td class="numero-solicitud">Técnico 7</td>
          </tr>
          <tr>
            <td class="numero-solicitud">8</td>
            <td class="numero-solicitud">Usuario 8</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">No enciende la computadora</td>
            <td class="numero-solicitud">Técnico 8</td>
          </tr>
          <tr>
            <td class="numero-solicitud">9</td>
            <td class="numero-solicitud">Usuario 9</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Disco duro lleno</td>
            <td class="numero-solicitud">Técnico 9</td>
          </tr>
          <tr>
            <td class="numero-solicitud">10</td>
            <td class="numero-solicitud">Usuario 10</td>
            <td class="numero-solicitud">2023-02-01</td>
            <td class="numero-solicitud">Pantalla en blanco</td>
            <td class="numero-solicitud">Técnico 10</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>

      <a type="button" class="btn btn-secondary" onclick="volver()" href="{% url 'solicitudes' %}">Volver</a>
      
{% endblock %}

{% block js %}
    <script src="{% static 'js/tecnicos/componentesNJ.js' %}"></script>
{% endblock %}
