{% extends 'base.html' %}

{% load static %}

{% block title %}Pagina Principal Técnico{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/pagina_principal_tecnico.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}
    <div class="button-container-wrapper">
        <section id="arriba" style="display: flex; justify-content: space-around;">
            <div class="card">
                <button onclick="mostrarSolicitudes()">
                    <a href="{% url 'solicitudes' %}">
                        <img src="{% static 'img/tecnicos/solicitudes.png' %}" alt="Solicitudes">
                        <h3>Solicitudes</h3>
                    </a>
                </button>
            </div>
            <div class="card">
                <button class="btn btn-primary" onclick="mostrarReparaciones()">
                    <a href="{% url 'incidentesxequipos_list' %}">
                        <img src="{% static 'img/tecnicos/reparaciones.jpg' %}" alt="Reparaciones">
                        <h3>Reparaciones</h3>
                    </a>
                </button>
            </div>
        </section>
        <section id="abajo" style="display: flex; justify-content: space-around;">
            <div class="card">
                <button class="btn btn-primary" onclick="mostrarEquipos()">
                    <a href="{% url 'equipos' %}">
                        <img src="{% static 'img/tecnicos/equipos.jpg' %}" alt="Equipos">
                        <h3>Equipos</h3>
                    </a>
                </button>
            </div>
            <div class="card">
                <button class="btn btn-primary" onclick="mostrarComponentes()">
                    <a href="{% url 'componentes' %}">
                        <img src="{% static 'img/tecnicos/componentes.png' %}" alt="Componentes">
                        <h3>Componentes</h3>
                    </a>
                </button>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/tecnicos/pagina_principal_tecnico.js' %}"></script>
{% endblock %}