{% extends 'base.html' %}

{% load static %}

{% block title %}Página Principal Usuario{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'usuario/css/pagina_principal_usuario.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbarusu.html" %}

    <div class="button-container-wrapper" style="display: flex; justify-content: space-around;">
        <section id="arriba">
        </section>
        
        <section id="inicio">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" onclick="mostrarSolicitud()">
                        <a href="{% url 'solicitud' %}">
                        <img src="{% static 'img/solicitud.png' %}" alt="Solicitud">
                        <h3>Solicitud</h3>
                        </a>
                    </button>
                </div>
            </div>
        </section>

        <section id="seguimiento">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" onclick="mostrarSeguimiento()">
                        <a href="{% url 'seguimiento' %}">
                        <img src="{% static 'usuario/img/seguimiento.png' %}" alt="Solicitud">
                        <h3>Seguimiento</h3>
                        </a>
                    </button>
                </div>
            </div>
        </section>

        <section id="informe">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" onclick="mostrarInforme()">
                        <a href="{% url 'informe' %}">
                            <img src="{% static 'img/informe.jpg' %}" alt="Informe">
                            <h3>Informe</h3>
                            </a>
                    </button>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

