{% extends 'base.html' %}

{% load static %}

{% block title %}Pagina Principal Técnico{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pagina_principal_tecnico.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}

    <div class="button-container-wrapper">
        <section id="arriba" style="display: flex; justify-content: space-around;">
            <div class="card">
                <button onclick="mostrarSolicitudes()">
                    <img src="{% static 'img/solicitudes.png' %}" alt="Solicitudes">
                    <h3>Solicitudes</h3>
                </button>
            </div>
            <div class="card">
                <a href="{% url 'pagina_reparaciones' %}">
                    <img src="{% static 'img/reparaciones.jpg' %}" alt="Reparaciones">
                    <h3>Reparaciones</h3>
                </a>
            </div>
        </section>
        <section id="abajo" style="display: flex; justify-content: space-around;">
            <div class="card">
                <a href="{% url 'equipos' %}">
                    <img src="{% static 'img/equipo.jpg' %}" alt="Equipos">
                    <h3>Equipos</h3>
                </a>
            </div>
            <div class="card">
                <a href="{% url 'componentes' %}">
                    <img src="{% static 'img/componentes.png' %}" alt="Componentes">
                    <h3>Componentes</h3>
                </a>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/pagina_principal_tecnico.js' %}"></script>
{% endblock %}
