
input, textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}



form {
    width: 800px; /* Puedes ajustar el ancho según sea necesario */
    padding: 30px;
    border-radius: 20px;
    margin: 50px auto;
    
}


.input{
    text-align: center;
    font-size: large;
    color: black;
}