{% load static %}

<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark" style="border-radius: 15px;margin-top: 10px">
    <img src="{% static 'img/everlink.png' %}" alt="Logo" style="max-width: 100px; max-height: 100px;margin-left: 10px;border-radius: 10px" >

    <div class="container">
        <a class="navbar-brand" href="{% url 'pagina_principal_usuario' %}"></a>
        
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <li class="nav-item {% if request.resolver_match.url_name == 'pagina_principal_tecnico' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'pagina_principal_tecnico' %}">Inicio</a>
                </li>
                {% if perms.reparaciones.view_solicitudes %}
                    <li class="nav-item {% if request.resolver_match.url_name == 'solicitudes_list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'solicitudes' %}">Solicitudes</a>
                    </li>
                {% endif %}
                <li class="nav-item {% if request.resolver_match.url_name == 'reparacion_list' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'incidentesxequipos_list' %}">Reparaciones</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'equipo' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'equipos' %}">Equipos</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'componente' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'componentes' %}">Componentes</a>
                </li>
                <li class="nav-item dropdown {% if request.resolver_match.url_name == 'perfil' or request.resolver_match.url_name == 'configuracion' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/tecnicos/perfil.png' %}" alt="{{ user.username }}" height="25px" width="25px">{{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a>
                            <a class="dropdown-item" href="{% url 'configuracion' %}">Configuración</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<style>
    .nav-item :active{
        background-color: #007bff;
        color: #ffffff;
        border-radius: 5px;
    }
</style>