{% extends 'base.html' %}

{% load static %}

{% block title %}Equipos{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha de Antigüedad</th>
            </tr>
        </thead>
    </table>
    <div class="botones">
        <button type="button" class="btn btn-primary">Orden de Compra</button>
        <button type="button" class="btn btn-success" onclick="redirigirAgregar()">Agregar</button>
        <button type="button" class="btn btn-secondary" onclick="volver()">Volver</button>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'Equipoj.js' %}"></script>
{% endblock %}