{% extends 'base.html' %}
{% load static %}
{% block title %}Reparaciones{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/reparaciones.css' %}">
{% endblock %}


{% block content %}
  {% include "partials/navbar.html" %}
  <div class="container mt-4">
    <h1>Lista de Reparaciones</h1><br>
    <form method="post" action="{% url 'eliminar_varios_incidentes' %}">
      {% csrf_token %}
      <div class="table-container">
        <table class="table">
          <thead class="input">
            <tr>
              <th>ID</th>
              <th>Equipo</th>
              <th>Reporte</th>
              <th>Fecha de Reparación</th>
              <th>Descripción de Reparación</th>
              <th>Seleccionar</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for incidentesxequipo in incidentesxequipos %}
              <tr >
                <td>{{ incidentesxequipo.pk }}</td>
                <td>{{ incidentesxequipo.id_equipo }}</td>
                <td>{{ incidentesxequipo.id_incidente }}</td>
                <td>{{ incidentesxequipo.fecha_reparacion }}</td>
                <td>
                  <div>{{ incidentesxequipo.descripcion_reparacion|truncatechars:50 }}</div>
                </td>
                <td>
                  <input type="checkbox" name="eliminar[]" value="{{ incidentesxequipo.pk }}" class="seleccionar-checkbox" aria-label="Checkbox for following text input">
                </td>
                <td>
                  <a href="{% url 'incidentesxequipos_detail' pk=incidentesxequipo.pk %}">Detalles</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div><br>
      <div class="botones">
        <button type="submit" class="btn btn-secondary">Eliminar</button>
        <a type="button" class="btn btn-success" href="{% url 'incidentesxequipos_new' %}">Agregar</a>
        <a type="button" class="btn btn-secondary" href="{% url 'pagina_principal_tecnico' %}">Volver </a>
      </div>
    </form>
  </div>
  <br>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var rows = document.querySelectorAll('.table-row');

      rows.forEach(function (row) {
        row.addEventListener('click', function () {
          this.classList.toggle('expanded');
        });
      });
    });
  </script>
{% endblock %}
