{% extends 'base.html' %}

{% load static %}

{% block title %}Detalle de Reparaciones{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/reparaciones.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbar.html" %}
    <div><br>
      <h1 class="titulo">Detalle de Reparaciones</h1>
      <p class="texto"><strong>Descripción:</strong> {{ incidentesxequipo.descripcion_reparacion }}</p>
      <p class="texto"><strong>Fecha de Reparación:</strong> {{ incidentesxequipo.fecha_reparacion }}</p>
      <p class="texto"><strong>Reporte:</strong> {{ incidentesxequipo.id_incidente }}</p>
      <p class="texto"><strong>Detalle de Equipo:</strong> {{ incidentesxequipo.id_equipo }}</p>
    </div>
    <div >
      <a type="button" class="btn btn-secondary" href="{% url 'incidentesxequipos_list' %}">Volver</a>    
      <a class="btn btn-success" href="{% url 'incidentesxequipos_edit' pk=incidentesxequipo.pk %}">Modificar</a>   
    </div>
    <br>
    <div class="input">
      <label for="lastName" >Nombre del Usuario:</label>
      <input type="text" id="lastName" name="lastName" placeholder="Nombre del Usuario"> 
  
      <label for="lastName">Correo:</label>
      <input type="text" id="lastName" name="lastName" placeholder="Correo">
      <button type="button" class="btn btn-success" onclick="enviarDatos()">Enviar</button>
  </div>


{% endblock %}

{% block js %}
    <script src="{% static 'tecnico/js/pagina_principal_tecnico.js' %}"></script>
{% endblock %}


