{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Servicio Técnico</title>
    <link href="{% static 'libs/bootstrap-5/bootstrap.min.css' %}" rel="stylesheet">
    {% block css %} {% endblock %}
</head>
<body class="bg-body-secondary">
    <main class="container-fluid mb-5">
        {% block content %} {% endblock %}
    </main>
    {% include "partials/footer.html" %}
    <script src="{% static 'libs/bootstrap-5/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap-5/bootstrap.min.js' %}"></script>
    {% block js %} {% endblock %}
</body>
</html>
