{% extends 'base.html' %}

{% load static %}

{% block title %}Perfil{% endblock %}
{% block content %}
    {% include "partials/navbar.html" %}
    <div class="campo-container">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="button" onclick="agregarCampo('nombre')">Agregar Nombre</button>
    </div>

    <div class="campo-container">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>
        <button type="button" onclick="agregarCampo('apellido')"> Agregar Apellido</button>
    </div>

    <div class="campo-container">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
        <button type="button" onclick="agregarCampo('telefono')"> Agregar Teléfono</button>
    </div>

    <div class="campo-container">
        <label for="correo">Correo electronico:</label>
        <input type="email" id="correo" name="correo" required>
        <button type="button" onclick="agregarCampo('correo electronico')"> Agregar Correo</button>
    </div>

    <button type="button" onclick="guardarContacto()">Guardar</button>
    <button type="button" onclick="volver()">Volver</button>
{% endblock %}

{% block js %}
    <script src="{% static 'perfilJ.js' %}"></script>
{% endblock %}
