{% extends 'base.html' %}

{% load static %}

{% block title %}Página Principal Usuario{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/tecnicos/reparaciones.css' %}">
{% endblock %}

{% block content %}
    {% include "partials/navbarusu.html" %}
    <br>
    <div class="input">
        <form action="#" method="post">
            <label for="nombreEquipo">Nombre del Equipo:</label>
            <input type="text" id="nombreEquipo" name="nombreEquipo" required>
            <br>
            <br>
    
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            <br>
            <br>
            <label for="descripcion">Descripción de la Solicitud:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            <br>
            <br>
            <div class="button-container">
                <a type="button" class="btn btn-secondary" onclick="volver()" href="{% url 'solicitudprimera' %}">Volver</a>
                <button type="submit" class="btn btn-success">Enviar</button>
    
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/usuario/solicituddJ.js' %}"></script>
{% endblock %}
