/* Agrega tus estilos personalizados aquí */
.logo {
    float: left;
    margin-right: 10px;
}

nav {
    clear: both;
    margin-left: 100px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.corner-buttons {
    position: absolute;
    top: 10px;
    right: 70px;
    margin: 20px;
    display: flex;
    align-items: center;
}

        /* Estilos adicionales */
        .custom-box {
            border: 3px solid black;
            padding: 180px;
            font-weight: bold;
            font-size: 0px;
            margin: 30px;
            display: flex; /* Utilizando flexbox para alinear horizontalmente */
            align-items: center; /* Centrar verticalmente */
        }

        .small-box {
            width: 200px;
            margin-right: 20px; /* Espacio entre los cuadros pequeños */
        }

/* Tus estilos existentes */
.custom-box {
    /* Estilos del cuadro existente */
    border: 2px solid black;
    padding: 20px; /* Ajusta el padding según necesites */
    font-weight: bold;
    font-size: 15px; /* Tamaño del texto "TIPO" */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.nested-box {
    /* Estilos del contenedor de los cuadros */
    margin-top: 10px; /* Espacio entre los cuadros */
}

.editable-textarea {
    width: calc(100% - 12px); /* Ajusta el ancho considerando los bordes */
    height: 60px;
    padding: 5px;
    margin-bottom: 5px; /* Espacio entre los cuadros de texto */
    resize: vertical; /* Permite redimensionar verticalmente */
}



/* Estilos para los botones */
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 20px; /* Espacio entre el cuadro y los botones */
}

.custom-button {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 2px solid black; /* Borde negro */
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px; /* Espacio entre botones */
    cursor: pointer;
}

.custom-button:hover {
    background-color: #ddd; /* Cambio de color al pasar el ratón */
}