body{
    background-color: brown;
}
.nav-item.active a {
    background-color: #007bff; /* Cambia el color de fondo del botón activo */
    color: #ffffff; /* Cambia el color del texto del botón activo */
    border-radius: 5px; /* Añade bordes redondeados al botón activo (opcional) */
}